/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --title-shadow: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --text-color-buttom: #ff0070;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --subtitle-color_section: #FF0070;
  --decorated-zone-hover: rgba(255, 0, 112, 0.4);
  --decorated: #FF0070;
}

.theme-dark .rec {
  display: block;
}

.theme-auto .rec {
  display: block;
}

/*.theme-dark {
  --accent-color: #ff0070;
  --title-shadow: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
}*/

/*.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}*/