/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --main-text: #353430;
  --header-title-shadow: 4px 4px 0px #ff8dcb;
  --header-title: #ffc2e6;
  --main-title-decor: #353430;
  --header-text-decor: #ff8dcb;
  --header-text: #353430;
  --main-title: #ff8dcb;
  --header-button-border: 1px #353430 solid;
  --header-button: #353430;
  --footer-title: #ffc2e6;
  --button-hover: 1px #32312d66 solid;
  --button-focus: 1px #353430 solid;
  --link-hover: 1px #353430 solid;
  --header-visibility-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --main-text: #353430;
    --button-hover: 1px #32312d66 solid;
    --button-focus: 1px #353430 solid;
    --header-title-shadow: 4px 4px 0px #ff8dcb;
    --header-title: #ffc2e6;
    --main-title-decor: #353430;
    --header-text-decor: #ff8dcb;
    --header-text: #353430;
    --main-title: #ff8dcb;
    --header-button-border: 1px #353430 solid;
    --header-button: #353430;
    --footer-title: #ffc2e6;
    --header-visibility-rec: none;
    --link-hover: 1px #353430 solid;
  }
}